.myContainer {
    margin-top: 20px;
    text-align: center;
}
.myFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2px;
    background-color: #efefef;
    text-align: center;
    color: black;
}
.myModal{
    margin-top: 20px;
    text-align: center;
}
