.myContainer {
    margin-top: 20px;
    text-align: center;

}
.myTitleListNotes{
    margin-left: 50px;
}

.myNotes {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.myRightNote {
    width: 80%;
    margin-left: 50px;
}

.myTextNote {
    width: 100%;
}

.myRegister {
    margin-top: 20px;
}

.noteName {
    padding: 2px;
    width: 100%;
}

.myTextarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.myFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2px;
    background-color: #efefef;
    text-align: center;
    color: black;
}