<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Edit Password</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>

<div class="container myRegister">
    <form action="#" th:action="@{/organizer/profile/editPassword/{email}(email=*{email})}" th:object="${edit}" method="post">
        <div class="form-group">
            <label for="password" class="form-control-label">New password</label>
            <input type="password" class="form-control" th:field="*{password}" id="password"/>
            <div class="text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <input type="submit" value="Edit password" class="btn btn-primary"/>
    </form>
    <a class="btn btn-success" th:href="@{/organizer/profile}">Back to your profile</a>
</div>

<footer th:replace="fragments/footer::footer"></footer>

</body>
</html>