<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Edit Note</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>

<div class="container myRegister">
    <form th:action="@{/organizer/notes/edit/{id}(id=*{id})}" th:object="${editNote}" method="post" id="editNote">
        <h4>Note name:</h4>
        <div class="myTextNote"><input class="noteName" type="text" th:field="*{name}" id="name"/></div>
        <div class="text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <div>
                    <textarea class="form-control myTextarea" rows="10" th:field="*{description}" id="description"
                              form="editNote" placeholder="Enter some text..."></textarea>
        </div>
        <div class="text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{name}"></div>
        <button type="subbmit" class="btn btn-primary">Edit Note</button>
        <a class="btn btn-success" th:href="@{/organizer/notes}">Back to your notes</a>
    </form>

</div>


<footer th:replace="fragments/footer::footer"></footer>

</body>
</html>



