<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Edit Task</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>

<div class="container myRegister">
    <form th:action="@{/organizer/tasks/edit/{id}(id=*{id})}" th:object="${edit}" method="post">
        <div class="form-group">
            <label for="name" class="form-control-label">Name</label>
            <input type="text" class="form-control" th:field="*{name}" id="name"/>
            <div class="text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <fieldset class="form-group">
            <label class="form-control-label">Priority</label>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="priority" value="NONE"
                           th:checked="${edit.priority.name().equals('NONE')}"/>
                    NONE
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="priority" value="LOW"
                           th:checked="${edit.priority.name().equals('LOW')}"/>
                    LOW
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="priority" value="MEDIUM"
                           th:checked="${edit.priority.name().equals('MEDIUM')}"/>
                    MEDIUM
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="priority" value="HIGH"
                           th:checked="${edit.priority.name().equals('HIGH')}"/>
                    HIGH
                </label>
            </div>
        </fieldset>
        <input type="submit" value="EDIT" class="btn btn-primary"/>
        <a class="btn btn-success" th:href="@{/organizer/tasks}">Back to your tasks</a>
    </form>

</div>

<footer th:replace="fragments/footer::footer"></footer>

</body>
</html>