<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
    <title>Events</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>


<div class="container-fluid myLinks">
    <h4 class="myContainer">My Events</h4>
    <button type="button" class="btn btn-primary btn-lg" id="myEventBtn">Add Event</button>
    <hr/>
    <div class="container myRegister" th:if="${validErrors} == true">
        <div class="alert alert-dismissible alert-danger">
            <strong  th:text="${errorMsg}"></strong>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>

        <tr class="table-action" th:each="event: ${events}" th:classappend="${event.eventDate == today} ? todayEvent : ''">
            <td th:text="${events.indexOf(event) + 1}"></td>
            <td th:text="${event.eventDate}">date</td>
            <td th:text="${event.eventTime}">time</td>
            <td th:text="${event.name}">name</td>
            <td><a class="btn btn-outline-warning" th:href="@{/organizer/events/edit/{id}(id=${event.id})}">Edit</a></td>
            <td><a class="btn btn-outline-danger" th:href="@{/organizer/events/delete/{id}(id=${event.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div class="modal myEventModal" id="addEventModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" id="addEventForm" th:action="@{/organizer/events}" method="post" th:object="${newEvent}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="eventDate">Pick date</label>
                        <div class="col-md-9">
                            <input class="myDate form-control" type="date" id="eventDate"
                                   th:field="*{stringEventDate}" th:min="${today}" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="eventTime">Event time</label>
                        <input type="time" id="eventTime" th:field="*{stringEventTime}"/>
                    </div>
                    <div class="form-group">
                        <label for="name">Event name</label>
                        <textarea class="form-control" id="name" rows="3"
                                  th:field="*{name}" placeholder="My event..." required=""></textarea>
                    </div>
                    <hr/>
                    <div class="alert alert-dismissible alert-info">
                        <strong>Here you can add a reminder to your event</strong>
                    </div>
                    <div class="form-group">
                        <label for="minutesBefore">Minutes before...</label>
                        <input type="number" id="minutesBefore" th:field="*{minutesBefore}" min="0" max="59"/>
                    </div>
                    <div class="form-group">
                        <label for="hoursBefore">Hours before...</label>
                        <input type="number" id="hoursBefore" th:field="*{hoursBefore}" min="0" max="23"/>
                    </div>
                    <div class="form-group">
                        <label for="daysBefore">Days before...</label>
                        <input type="number" id="daysBefore" th:field="*{daysBefore}" min="0" max="366"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<footer th:replace="fragments/footer::footer"></footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myEventBtn").click(function () {

            $("#addEventModal").modal();
        });
    });

</script>

</body>
</html>