<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Notes</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>
<div class="container-fluid myNotes">
    <div class="row">
        <div class="col-sm-4">
            <form th:action="@{/organizer/notes}" th:object="${newNote}" method="post" id="newNote">
                <h4>Note name:</h4>
                <div class="myTextNote"><input class="noteName" type="text" th:field="*{name}" id="name"/></div>
                <div class="text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                <div>
                    <textarea class="form-control myTextarea" rows="10" th:field="*{description}" id="description"
                              form="newNote" placeholder="Enter some text..."></textarea>
                </div>
                <div class="text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{name}"></div>
                <button type="subbmit" class="btn btn-primary">Add Your Note</button>
            </form>
        </div>

        <div class="col-sm-8">
            <h4 class="myTitleListNotes">Your notes</h4>
            <table class="table table-hover myRightNote">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Note name</th>
                    <th scope="col">Creation date</th>
                </tr>
                </thead>
                <tbody>

                <tr class="table-info" th:each="note: ${notes}">
                    <td th:text="${notes.indexOf(note) + 1}"></td>
                    <td th:text="${note.name}">name</td>
                    <td th:text="${note.creationDate}">date</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer::footer"></footer>

</body>
</html>



