<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
    <title>Organizer</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>

<div class="container-fluid myLinks">
    <div class="row">
        <div class="col-sm-4">
            <a class="btn btn-info myNotesLink" href="/organizer/notes" role="button"><h3>NOTES</h3>
                <h5>Write something...</h5></a>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-success myNotesLink" href="/organizer/tasks" role="button"><h3>TASKS</h3>
                <h5>Make TODO list...</h5></a>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-warning myNotesLink" href="/organizer/events" role="button"><h3>EVENTS</h3>
                <h5>Add event...</h5></a>
        </div>

    </div>
</div>


<footer th:replace="fragments/footer::footer"></footer>

</body>
</html>