<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Profile</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>

<div class="container myContainer" th:object="${activeModel}">
    <div class="jumbotron">
        <h6 class="display-3" th:text="${'Hello ' + activeModel.userName + '!'}"></h6>
            <hr class="my-4"/>
            <fieldset>
                <div class="form-group row">
                    <label class="myProfileTxt">Your Name:</label>
                    <div class="col-sm-3 myProfileTxt" th:text="${activeModel.userName}"></div>
                </div>
                <div class="form-group row">
                    <label class="myProfileTxt">Your Email:</label>
                    <div class="col-sm-3 myProfileTxt" th:text="${activeModel.email}"></div>
                </div>
            </fieldset>
    </div>
</div>
<footer th:replace="fragments/footer::footer"></footer>

</body>
</html>