<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Tasks</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>

<div class="container myContainer">
    <h4>My Tasks</h4> <button type="button" class="btn btn-primary btn-lg" id="myTaskBtn">Add Task</button>
    <hr/>
    <div class="container myContainer" th:if="${validErrors} == true">
        <div class="alert alert-dismissible alert-danger">
            <strong  th:text="Adding the task failed, parameter name required!"></strong>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Task name</th>
            <th scope="col">Creation date</th>
            <th scope="col">Priority</th>
            <th scope="col">Operations</th>
        </tr>
        </thead>
        <tbody>

        <tr class="table-info" th:each="task: ${tasks}">
            <td th:text="${tasks.indexOf(task) + 1}"></td>
            <td th:text="${task.name}">name</td>
            <td th:text="${task.creationDate}">date</td>
            <td th:text="${task.priority}">priority</td>
            <td><a class="btn btn-outline-warning" th:href="@{/organizer/tasks/edit/{id}(id=${task.id})}">Edit</a></td>
            <td><a class="btn btn-outline-danger" th:href="@{/organizer/tasks/delete/{id}(id=${task.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal" id="addTaskModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" id="addTaskForm" th:action="@{/organizer/tasks}" method="post">
            <div class="modal-body">
                <div class="form-group">
                        <label class="control-label col-md-3" for="name">Your task</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="name" name="name" placeholder="TODO..." required="required"/>
                        </div>
                    </div>
                <fieldset class="form-group">
                    <legend>Priority</legend>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="priority" value="NONE" checked=""/>
                            NONE
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="priority" value="LOW"/>
                            LOW
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="priority" value="MEDIUM"/>
                            MEDIUM
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="priority" value="HIGH"/>
                            HIGH
                        </label>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer::footer"></footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $("#myTaskBtn").click(function(){

            $("#addTaskModal").modal();

            $("#addTaskModal").validate({
                rules: {
                    name: {
                        required: true,
                        minlength: 3
                    },
                    action: "required"
                },
                messages: {
                    name: {
                        required: "Please enter some data!",
                        minlength: "Your data must be max 1000 characters!"
                    },
                    action: "Please provide some data"
                }
            });
        });
    });
</script>


</body>
</html>