<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Tasks</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>

<form th:action="@{/organizer/tasks}" th:object="${newTask}" method="post" id="newTask">
<div id="addTask" class="header">
    <h2 style="margin:5px">My To Do List</h2>
    <input type="text" th:field="*{name}" id="name" placeholder="TODO..."/>
    <input type="submit" value="Add Task"/>
</div>
</form>

<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Task name</th>
            <th scope="col">Creation date</th>
        </tr>
        </thead>
        <tbody>

        <tr class="table-primary" th:each="task: ${tasks}">
            <th scope="row"></th>
            <td th:text="${task.name}">name</td>
            <td th:text="${task.creationDate}">date</td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/footer::footer"></footer>

</body>
</html>