<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>User not found!</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>

<div class="container myContainer">
    <div class="alert alert-dismissible alert-danger">
        <strong>User not found!</strong>
    </div>
</div>

<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
