<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Users</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>

<div class="container myContainer">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password (coded)</th>
            <th scope="col">Role</th>
            <th scope="col">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-dark" th:each="user: ${users}">
            <td th:text="${users.indexOf(user) + 1}"></td>
            <td th:text="${user.userName}">name</td>
            <td th:text="${user.email}">email</td>
            <td th:text="${user.password}">password</td>
            <td th:text="${user.userRole}">role</td>
            <td><a class="btn btn-outline-warning" th:href="@{/organizer/users/edit/{email}(email=${user.email})}">EDIT</a></td>
            <td><a class="btn btn-outline-danger" th:href="@{/organizer/users/delete/{email}(email=${user.email})}">DELETE</a></td>
        </tr>
        </tbody>
    </table>
</div>
<hr/>
<!--TODO fix pagination -->
<div>
    <ul class="pagination">
        <li class="page-item" th:each="i: ${#numbers.sequence(0,pages.totalPages - 1)}">
            <a class="page-link" th:href="@{/organizer/users/(page=${i})}"
               th:text="${i+1}" th:classappend="${pages.getNumber() == i} ? 'active' : ''">#</a>
        </li>
    </ul>
</div>
<hr/>


<footer th:replace="fragments/footer::footer"></footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

</body>
</html>